<nav>
  <ul class="topnav" id="myTopnav">
    <li><a id="logo" href="/guides/new"><img id="navlogo" src="/assets/navlogo.png" alt=""></a></li>
    <li><a href="/guides/new">create</a></li>
    <li><%= link_to "logo", '#section1' %></li>
    <li><%= link_to "colour", '#section2' %></li>
    <li><%= link_to "type", '#section3' %></li>
    <li><%= link_to "mood", '#section4' %></li>
    <li><%= link_to "deliver", '#section5' %></li>
    <li class="icon">
      <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
    </li>
  </ul>

</nav>

<div class="landing">

  <!-- <h4 class="heading">Style Assistant</h4> -->
  <img class="heading" src="/assets/title13.png" alt="">
  <a class="next" href="#section1"><img class="arrow firstnext" src="/assets/arrow1.png" alt=""></a>
</div>


<form action="/guides" method="post" class="col 5" enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <!-- SECTION 1A -->

  <div class="section" id="section1">

    <div class="center">
      <h1>New Project</h1>
      <p id="tip">Enter your project details. If you have a logo or project identifier, upload it here. </p>

      <div class="modal">

      <h2>New Project</h2>


        <div class="">
          <!-- <label for="">Title</label> -->
          <input class="title" name="title" type="text" placeholder="Title">
        </div>

      <div class="">
        <!-- <label for="description">Description</label> -->
        <input class="description" maxlength="16" name="description" placeholder="Tagline (max 16 characters)" type="text">
      </div>
      <div class="">
        <!-- <label for="author">Author</label> -->
        <input class="author" name="author" placeholder="Author" type="text">

      </div>

        <h4>Logo</h4>
        <!-- <label for="file">Upload an image</label> -->
        <input class="file" name="image" type="file">
          <!-- <button id="next1" style="display:block; margin:7% auto 2%">NEXT</button> -->
      </div>

      <a class="next" href="#section2"><img class="arrow" src="/assets/arrow3.png" alt=""></a>

    </div>

    </div>


  <!-- SECTION 2 -->
  <!-- COLOUR ONE -->

  <div class="section" id="section2">

  <div class="center1">

  <h1>Colour Palette</h1>
  <p id="tip">Lock the colours you like and hit <b>shift</b> to get colour combinations. Or enter a colour code in each box.</p>
  <!-- <button id="getPalette" style="display:block">GET PALETTE</button> -->
    <div class="picker" class="col 5">
      <div class="line">
        <div class="">
          <i class="fa fa-unlock-alt fa-2x" id="lock1" aria-hidden="true"></i>
        </div>
        <div class="circle" id="circle1"></div>

        <!-- HEX Target -->

        <div>
          <button class="getColour">GET PRIMARY</button>
        </div>
        <input name="colour1" class="colourValueHEX jscolor {hash:true}" id="colourValueHEX1" value="">

        <!-- HEX Trigger -->

      </div>
    </div>



  <!-- COLOUR TWO -->


    <div class="picker ">
      <div class="line">
        <div class="">
          <i class="fa fa-unlock-alt fa-2x" id="lock2" aria-hidden="true"></i>
        </div>
        <div class="circle" id="circle2"></div>
        <!-- HEX Target -->
        <div>
          <button class="getColour">GET SECONDARY</button>
        </div>
        <input name="colour2" class="colourValueHEX jscolor {hash:true}" id="colourValueHEX2" value="">
      </div>
    </div>



  <!-- COLOUR THREE -->

    <div class="picker">
      <div class="line">
        <div class="">
          <i class="fa fa-unlock-alt fa-2x" id="lock3" aria-hidden="true"></i>
        </div>
        <div class="circle" id="circle3"></div>
        <!-- HEX Target -->

        <div>
          <button class="getColour">GET ACCENT</button>
        </div>
        <input name="colour3" class="colourValueHEX jscolor {hash:true}" id="colourValueHEX3" value="">

      </div>
    </div>


  <!-- COLOUR FOURS -->

    <div class="picker">
      <div class="line">
        <div class="">
          <i class="fa fa-unlock-alt fa-2x" id="lock4" aria-hidden="true"></i>
        </div>
        <div class="circle" id="circle4"></div>
        <!-- HEX Target -->
        <label for="colourValueHEX"></label>

        <div>
          <button class="getColour">GET ACCENT</button>
        </div>
        <input name="colour4" class="colourValueHEX jscolor {hash:true}" id="colourValueHEX4" value="">
      </div>
    </div>


      <h2 id="hues">Primary Shades</h2>
      <div class="tonesWrapper">
         <div class="tone2 tones" style="float: left;"></div>
         <div class="tone3 tones" style="float: left;"></div>
         <div class="tone4 tones" style="float: left;"></div>
         <div class="tone5 tones" style="float: left;"></div>
         <div class="tone6 tones" style="float: left;"></div>
         <div class="tone7 tones" style="float: left;"></div>
         <br style="clear: left;" />

         <!-- HIDDEN PARAMS -->
         <input type="hidden" name="tone2" value="" class="t2">
         <input type="hidden" name="tone3" value="" class="t3">
         <input type="hidden" name="tone4" value="" class="t4">
         <input type="hidden" name="tone5" value="" class="t5">
         <input type="hidden" name="tone6" value="" class="t6">
         <input type="hidden" name="tone7" value="" class="t7">

      </div>

        <a class="next" href="#section3"><img class="arrow" src="/assets/arrow3.png" alt=""></a>

    </div>

  </div>

  <!-- SECTION 3 -->
  <div class="section" id="section3" id="type">
    <div class="center2">

      <h1>Typography</h1>
      <p id="tip">Select a heading font</p>


    <div class="styled-select">
        <select id="font1" name="font1">
          <option disabled="disabled">Header Font</option>
          <option name="Roboto" value="Roboto">Roboto</option>
          <option name="Space Mono" value="Space Mono">Space Mono</option>
          <option name="Abril Fatface" value="Abril Fatface">Abril Fatface</option>
          <option name="Raleway" value="Raleway">Raleway</option>
          <option name="Montserrat" value="Montserrat">Montserrat</option>
          <option name="Chewy" value="Chewy">Chewy</option>
          <option name="Bitter" value="Bitter">Bitter</option>
          <option name="Inconsolata" value="Inconsolata">Inconsolata</option>
          <option name="Anton" value="Anton">Anton</option>
          <option selected="true" name="Lobster" value="Lobster">Lobster</option>
          <option name="Pacifico" value="Pacifico">Pacifico</option>
          <option name="Playfair Display" value="Playfair Display">Playfair Display</option>
          <option name="Permanent Marker" value="Permanent Marker">Permanent Marker</option>
          <option name="Vidaloka" value="Vidaloka">Vidaloka</option>
          <option name="Fugaz One" value="Fugaz One">Fugaz One</option>
        </select>
    </div>
      <input type="text" class="test1" name="" value="Your Text Here">
    <h1 class="header">Your Text Here</h1>

    <p class="paragraph">choose an ipsum</p>

    <p id="tip">Select a paragraph font</p>

      <select id="font2" name="font2">
        <option disabled="disabled">Paragraph Font</option>
        <option selected="true" name="Roboto" value="Roboto">Roboto</option>
        <option name="Space Mono" value="Space Mono">Space Mono</option>
        <option name="PT Sans" value="PT Sans">PT Sans</option>
        <option name="Raleway" value="Raleway">Raleway</option>
        <option name="Arvo" value="Arvo">Arvo</option>
        <option name="Lora" value="Lora">Lora</option>
        <option name="Bitter" value="Bitter">Bitter</option>
        <option name="Inconsolata" value="Inconsolata">Inconsolata</option>
        <option name="Droid Sans Mono" value="Droid Sans Mono">Droid Sans Mono</option>
        <option name="Lobster" value="Lobster">Lobster</option>
        <option name="Noto Serif" value="Noto Serif">Noto Serif</option>
        <option name="Playfair Display" value="Playfair Display">Playfair Display</option>
        <option name="Actor" value="Actor">Actor</option>
        <option name="Abel" value="Abel">Abel</option>
        <option name="Josefin Sans" value="Josefin Sans">Josefin Sans</option>
      </select>

      <div class="fontPreview">
        <button id="hipster" class="ipsum">HIPSTER</button>
        <button id="lorem" class="ipsum">LOREM</button>
        <button id="samuel" class="ipsum">SAMUEL L</button>
        <!-- <textarea name="name" rows="8" cols="50" class="test2 "></textarea> -->
      </div>

      <a class="next" href="#section4"><img class="arrow" src="/assets/arrow3.png" alt=""></a>

    </div>
  </div>


  <!-- SECTION 4 -->

  <div class="section" id="section4">

        <h1>Mood Board</h1>
        <p id="tip">A mooboard is intended to evoke or project a particular style or concept. Search as many time as you like and choose 3 images. <br> For a more effective result, choose images that fit in with your color scheme. </p>

        <!-- SEARCH BOX -->
        <div class="search_wrapper">
          <input type="input" id="search_input" placeholder="Eg. nature, dog, blue" value="">
          <button class="search_btn">SEARCH</button>
        </div>

        <!-- CAROUSEL -->
        <div class="image-results carousel"></div>

        <div class="mood-wrapper">
          <div class="preview preview-wrapper1">
              <img class="size preview_img selected" src=""/>
              <input type="hidden" class="preview_img_name" name="url" value="">
          </div>


          <div class="preview preview-wrapper2">
              <img class="size preview_img2" src=""/>
              <input type="hidden" class="preview_img_name2" name="url2" value="">
          </div>

          <div class="preview preview-wrapper3">
              <img class="size preview_img3" src=""/>
              <input type="hidden" class="preview_img_name3" name="url3" value="">
          </div>
        </div>
    </div>


            <div class="arrow-wrapper">
              <a class="next" href="#section5"><img id="m-arrow" src="/assets/arrow3.png" alt=""></a>
            </div>



  <!-- SECTION 5 -->


  <div class="section" id="section5" id="refs">

    <div class="center3">

    <h1>Looking good!</h1>
    <p id="tip">Enter any relevant details your recipient will need.</p>


    <h2>Project References</h2>
    <!-- <label display:"block" for="website">Website</label> -->
    <div class="">
      <input class="website" maxlength="100" name="website" type="text" placeholder="Website">
    </div>

        <div class="">
          <input class="github" maxlength="100" name="github" type="text" placeholder="Github">
          </div>
     <div class="">
        <input class="trello" maxlength="100" name="trello" type="text" placeholder="Trello">
      </div>




    <h2>Recipient</h2>

            <!-- <label display:"block" for="recipient_name">Recipient Name</label> -->
    <div class="">
      <input class="recipient_name" maxlength="40" name="recipient_name" type="text" placeholder="Recipient Name">
    </div>
      <!-- <label for="recipient_email">Recipient Email</label> -->
    <div class="">

      <input class="recipient_email" name="recipient_email" type="text" placeholder="Recipient Email">
    </div>


      <button id="send">SEND</button>

    </div>

  </div>

</form>
