<nav>
  <ul class="topnav" id="myTopnav">
    <li><a href="/guides/new">Create</a></li>
    <li><%= link_to "Logo", '#section1' %></li>
    <li><%= link_to "Colour", '#section2' %></li>
    <li><%= link_to "Type", '#section3' %></li>
    <li><%= link_to "Send", '#section5' %></li>
    <li class="icon">
      <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
    </li>
  </ul>

</nav>


<form action="/guides" method="post" class="col 5" enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <!-- SECTION 1A -->

  <div class="section" id="section1">

    <div class="center">
      <div class="modal">

      <h2>New Project</h2>

        <div class="">
          <!-- <label for="">Title</label> -->
          <input class="title" name="title" type="text" placeholder="Title">
        </div>

      <div class="">
        <!-- <label for="description">Description</label> -->
        <input class="description" name="description" placeholder="Description" type="text">
      </div>
      <div class="">
        <!-- <label for="author">Author</label> -->
        <input class="author" name="author" placeholder="Author" type="text">

      </div>

        <h3>Upload Logo</h3>
        <input class="file" name="image" type="file">
          <!-- <button id="next1" style="display:block; margin:7% auto 2%">NEXT</button> -->
      </div>

      <a class="next" href="#section2"><img class="arrow" src="/assets/arrow1.png" alt=""></a>

    </div>

    </div>


  <!-- SECTION 2 -->
  <!-- COLOUR ONE -->

  <div class="section" id="section2">

  <div class="center1">

  <h1>Colour Palette</h1>
  <button id="getPalette" style="display:block">GET PALETTE</button>
  <p id="tip">press enter to get palette</p>
    <div class="picker" class="col 5">
      <div class="line">
        <div>
          <button class="getColour">RANDOMIZE</button>
          <!-- <button class="locked">LOCK</button> -->
        </div>
        <span class="lock" id="lock1">lock</span>
        <i class="fa fa-unlock-alt fa-2x" aria-hidden="true"></i>
        <div class="circle" id="circle1"></div>
        <!-- HEX Target -->
        <input name="colour1" class="colourValueHEX jscolor {hash:true}" id="colourValueHEX1" value="">
        <!-- HEX Trigger -->

      </div>
    </div>



  <!-- COLOUR TWO -->


    <div class="picker ">
      <div class="line">
        <div>
          <button class="getColour">RANDOMIZE</button>
        </div>
        <span class="lock"  id="lock2">lock</span>
        <i class="fa fa-unlock-alt fa-2x" aria-hidden="true"></i>
        <div class="circle" id="circle2"></div>
        <!-- HEX Target -->
        <input name="colour2" class="colourValueHEX jscolor {hash:true}" id="colourValueHEX2" value="">
        <!-- HEX Trigger -->
      </div>
    </div>



  <!-- COLOUR THREE -->

    <div class="picker">
      <div class="line">
        <div>
          <button class="getColour">RANDOMIZE</button>
        </div>
        <span class="lock"  id="lock3">lock</span>
        <i class="fa fa-unlock-alt fa-2x" aria-hidden="true"></i>
        <div class="circle" id="circle3"></div>
        <!-- HEX Target -->
        <input name="colour3" class="colourValueHEX jscolor {hash:true}" id="colourValueHEX3" value="">
        <!-- HEX Trigger -->
      </div>
    </div>


  <!-- COLOUR FOURS -->

    <div class="picker">
      <div class="line">
        <div>
          <button class="getColour">RANDOMIZE</button>
        </div>
        <span class="lock"  id="lock4">lock</span>
        <i class="fa fa-unlock-alt fa-2x" aria-hidden="true"></i>
        <div class="circle" id="circle4"></div>
        <!-- HEX Target -->
        <label for="colourValueHEX"></label>
        <input name="colour4" class="colourValueHEX jscolor {hash:true}" id="colourValueHEX4" value="">
        <!-- HEX Trigger -->
      </div>
    </div>


      <h2 id="hues">Primary Shades</h2>
      <div class="tonesWrapper">
         <div class="tone2 tones" style="float: left;"></div>
         <div class="tone3 tones" style="float: left;"></div>
         <div class="tone4 tones" style="float: left;"></div>
         <div class="tone5 tones" style="float: left;"></div>
         <div class="tone6 tones" style="float: left;"></div>
         <div class="tone7 tones" style="float: left;"></div>
         <br style="clear: left;" />

         <!-- HIDDEN PARAMS -->

         <input type="hidden" name="tone2" value="" class="t2">
         <input type="hidden" name="tone3" value="" class="t3">
         <input type="hidden" name="tone4" value="" class="t4">
         <input type="hidden" name="tone5" value="" class="t5">
         <input type="hidden" name="tone6" value="" class="t6">
         <input type="hidden" name="tone7" value="" class="t7">

      </div>

        <a class="next" href="#section3"><img class="arrow" src="/assets/arrow2.png" alt=""></a>

    </div>

  </div>
  </div>



  <!-- SECTION 3 -->
  <div class="section" id="section3" id="type">
    <div class="center2">

    <h2>Typography</h2>

    <div class="styled-select">
        <select id="font1" name="font1">
          <<option selected="true" disabled="disabled">Header Font</option>
          <option name="Roboto" value="Roboto">Roboto</option>
          <option name="Space Mono" value="Space Mono">Space Mono</option>
          <option name="Slabo 27px" value="Slabo 27px">Slabo</option>
          <option name="Raleway" value="Raleway">Raleway</option>
          <option name="Montserrat" value="Montserrat">Montserrat</option>
          <option name="Lora" value="Lora">Lora</option>
          <option name="Bitter" value="Bitter">Bitter</option>
          <option name="Inconsolata" value="Inconsolata">Inconsolata</option>
          <option name="Anton" value="Anton">Anton</option>
          <option name="Lobster" value="Lobster">Lobster</option>
          <option name="Noto Serif" value="Noto Serif">Noto Serif</option>
          <option name="Playfair Display" value="Playfair Display">Playfair Display</option>

        </select>
    </div>
      <input type="text" class="test1" name="" value="hello">
    <h1 class="header">hello</h1>

    <p class="paragraph">choose an ipsum</p>

      <select id="font2" name="font2">
        <option selected="true" disabled="disabled">Paragraph Font</option>
        <option name="Roboto" value="Roboto">Roboto</option>
        <option name="Space Mono" value="Space Mono">Space Mono</option>
        <option name="Slabo 27px" value="Slabo 27px">Slabo</option>
        <option name="Raleway" value="Raleway">Raleway</option>
        <option name="Montserrat" value="Montserrat">Montserrat</option>
        <option name="Lora" value="Lora">Lora</option>
        <option name="Bitter" value="Bitter">Bitter</option>
        <option name="Inconsolata" value="Inconsolata">Inconsolata</option>
        <option name="Anton" value="Anton">Anton</option>
        <option name="Lobster" value="Lobster">Lobster</option>
        <option name="Noto Serif" value="Noto Serif">Noto Serif</option>
        <option name="Playfair Display" value="Playfair Display">Playfair Display</option>
      </select>

      <div class="fontPreview">
        <button id="hipster" class="ipsum">HIPSTER</button>
        <button id="lorem" class="ipsum">LOREM</button>
        <button id="samuel" class="ipsum">SAMUEL L</button>
        <!-- <textarea name="name" rows="8" cols="50" class="test2 "></textarea> -->
      </div>

      <a class="next" href="#section5"><img class="arrow" src="/assets/arrow2.png" alt=""></a>

    </div>
  </div>


  <!-- SECTION 4 -->

  <!-- <div class="box">
      Search Image
      <p class="headings">SEARCH IMAGES</p>

      SEARCH BOX
      <div class="search_wrapper">
        <input type="input" id="search_input" placeholder="Find an image.." value="">
        <button class="search_btn">SEARCH</button>
      </div>

      CAROUSEL
      <div class="image-results your-class">

      </div>
      <div class="space"></div>
    </div>

    <div class="preview-wrapper">
      <div class="preview">
          <div class="background_img">
            <img height="400" width="600" class="preview_img" src=""/>
            <input type="hidden" class="preview_img_name" name="background_img" value="">
          </div>
        </div>
      </div>
    </div>

 -->


  <!-- SECTION 5 -->


  <div class="section" id="section5" id="refs">

    <div class="center3">

    <h2>Project References</h2>
    <!-- <label display:"block" for="website">Website</label> -->
    <div class="">
      <input class="website" name="website" type="text" placeholder="Website">
    </div>

        <div class="">
          <input class="github" name="github" type="text" placeholder="Github">
          </div>
     <div class="">
        <input class="trello" name="trello" type="text" placeholder="Trello">
      </div>




    <h2>Recipient</h2>

            <!-- <label display:"block" for="recipient_name">Recipient Name</label> -->
    <div class="">
      <input class="recipient_name" name="recipient_name" type="text" placeholder="Recipient Name">
    </div>
      <!-- <label for="recipient_email">Recipient Email</label> -->
    <div class="">

      <input class="recipient_email" name="recipient_email" type="text" placeholder="Recipient Email">
    </div>


      <button id="send">SEND</button>

    </div>

  </div>

</form>
