<div class="container">

  <div class="introShow">
    <h2><span class="gray">Style Guide:</span> <%= @guide.title %></h2>
    <img src="" alt="logo">
    <p><span class="gray">Description:</span> <%= @guide.description %></p>
    <p><span class="gray">Created by:</span> <%= @guide.author %></p>
    <p><span class="gray">Github:</span> <%= @guide.github %></p>
    <p><span class="gray">Trello:</span> <%= @guide.trello %></p>
  </div>

  <div class="colourShow">
    <p><span class="gray">Colour:</span> <%= @guide.colour1 %></p>
    <p><span class="gray">Colour:</span> <%= @guide.colour2 %></p>
    <p><span class="gray">Colour:</span> <%= @guide.colour3 %></p>
    <p><span class="gray">Colour:</span> <%= @guide.colour4 %></p>
  </div>

  <div class="fontShow">
    <p><span class="gray">Heading Font:</span> <%= @guide.font1 %></p>
    <p><span class="gray">Paragraph Font:</span> <%= @guide.font2 %></p>
    <h1 style="font-family: '<%= @guide.font1 =%>';">Heading 1</h1>
    <h2 style="font-family: '<%= @guide.font1 =%>';">Heading 2</h2>
    <h3 style="font-family: '<%= @guide.font1 =%>';">Heading 3</h3>
    <h4 style="font-family: '<%= @guide.font1 =%>';">Heading 4</h4>
    <p style="font-family: '<%= @guide.font2 =%>';">The quick brown fox...</p>
  </div>

  <div class="iconShow">
    <img src="" alt="icons">
  </div>







</div>
