<div class="">

  <h2>Style Guide: <%= @guide.title %></h2>
  <p>Description: <%= @guide.description %></p>
  <p>Created by: <%= @guide.author %></p>
  <p>Color: <%= @guide.colour1 %></p>
  <p>Font: <%= @guide.font1 %></p>

  <p style="font-family: '<%= @guide.font1 =%>';">The quick brown fox...</p>



</div>
